testing.dtd

<!ELEMENT size (#PCDATA)>
	<!ATTLIST size value CDATA>

<!ELEMENT color (#PCDATA)>
	<!ATTLIST color value CDATA>

<!ELEMENT type (#PCDATA)>
	<!ATTLIST type value (bold | italic | underline | code | thin | quote | blink )>

<!ELEMENT media EMPTY >
<!ATTLIST media type ( image| 3dart | video |  | | | | ) >

<!ELEMENT highlight (#PCDATA)>
<!ATTLIST highlight color (red | orange | yellow | green | blue | grey | invert | pink | purple)>
