testing.dtd

<!ELEMENT text (line, textsize, cw, textcolor, type, media, highlight, align, list, navbar, textdirection, scroll, search, meta, table, break, style)+>
<!NOTATION jpg PUBLIC "JPG 1.0">
<!NOTATION png PUBLIC "PNG 1.0">
<!NOTATION gif PUBLIC "GIF 1.0">
<!NOTATION uri SYSTEM "urn:schemas-microsoft-com:datatypes/uri">
<!ELEMENT textsize (#PCDATA)>
	<!ATTLIST size value CDATA>
<!ELEMENT anchor (#PCDATA)>
	<!ATTLIST anchor jump URL>
<!ELEMENT textcolor (#PCDATA)>
	<!ATTLIST color value CDATA>
<!ELEMENT image EMPTY>
	<!ATTLIST image source (jpg|png|gif)>
<!ELEMENT type (#PCDATA)>
	<!ATTLIST type value (bold | italic | underline | code | thin | quote | blink )>
<!ELEMENT blinker (#PCDATA)>
<!ELEMENT line EMPTY>

<!ELEMENT cw (item)>
	<!ATTLIST cw decsription CDATA>

<!ELEMENT highlight (#PCDATA)>
	<!ATTLIST highlight color (red | cyan | yellow | green | blue | grey | invert | purple) "yellow">

<!ELEMENT align (#PCDATA)>
	<!ATTLIST align type (center | left | right | justify) "right">

<!ELEMENT list (#PCDATA)>
	<!ATTLIST list type ( round | square | plus | minus | circle | x | star | number | letter | caps | roman) "round">

<!ELEMENT navbar (item)>

<!ELEMENT textdirection (#PCDATA)>
	<!ATTLIST textdirection type (ltr | rtl)>

<!ELEMENT scroll (#PCDATA)>
	<!ATTLIST scroll type ( onetime | infinite | bounce) "bounce" direction ( left | right)>

<!ELEMENT meta EMPTY>
	<!ATTLIST meta setting ( author | description | icon | title) content CDATA>

<!ELEMENT table (row, heading)>

<!ELEMENT heading (item)>

<!ELEMENT row (item)>

<!ELEMENT item (#PCDATA)>

<!ELEMENT search EMPTY>
	<!ATTLIST search type ( link | text | media | highlights )>

<!ELEMENT break EMPTY>

<!ELEMENT style EMPTY>
	<!ATTLIST style type (dark theme | light theme | amoled theme) "dark theme">
