testing.dtd

<!ELEMENT text (line, textsize, cw, textcolor, type, media, highlight, align, list, navbar, textdirection, scroll, search, meta, table, break, style)+>

<!ELEMENT textsize (#PCDATA)>
	<!ATTLIST size value CDATA>

<!ELEMENT textcolor (#PCDATA)>
	<!ATTLIST color value CDATA>

<!ELEMENT type (#PCDATA)>
	<!ATTLIST type value (bold | italic | underline | code | thin | quote | blink )>

<!ELEMENT line EMPTY>

<!ELEMENT cw (#PCDATA)>
	<!ATTLIST cw decsription CDATA>

<!ELEMENT media EMPTY >
	<!ATTLIST media type ( image | 3dart | video | embed | audio | vector | file | link) "embed" url CDATA description CDATA>

<!ELEMENT highlight (#PCDATA)>
	<!ATTLIST highlight color (red | orange | yellow | green | blue | grey | invert | pink | purple) "yellow">

<!ELEMENT align (#PCDATA)>
	<!ATTLIST align type (center | left | right | justify) "left">

<!ELEMENT list (item)>
	<!ATTLIST list type ( round | square | plus | minus | circle | x | star | number | letter | caps | roman) "round">

<!ELEMENT navbar (item)>

<!ELEMENT textdirection (#PCDATA)>
	<!ATTLIST textdirection type (ltr | rtl)>

<!ELEMENT scroll (#PCDATA)>
	<!ATTLIST scroll type ( onetime | infinite | bounce) "bounce" direction ( left | right)>

<!ELEMENT meta EMPTY>
	<!ATTLIST meta setting ( author | description | icon | title) content CDATA>

<!ELEMENT table (row, heading)>

<!ELEMENT heading (item)>

<!ELEMENT row (item)>

<!ELEMENT item (#PCDATA)>

<!ELEMENT search EMPTY>
	<!ATTLIST search type ( link | text | media | highlights )>

<!ELEMENT break EMPTY>

<!ELEMENT style EMPTY>
	<!ATTLIST style type (dark theme | light theme | hotdog theme | amoled theme | ice water theme | volcano theme | nature theme | neon theme) "dark theme">